@import url("https://fonts.googleapis.com/css2?family=Athiti:wght@200;300;400;500;600;700&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Archivo:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Athiti:wght@200;300;400;500;600;700&family=Electrolize&family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Gotu&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,900&family=PT+Sans+Narrow:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Archivo:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Athiti:wght@200;300;400;500;600;700&family=Electrolize&family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Gotu&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,900&family=PT+Sans+Narrow:wght@400;700&display=swap");

:root {
  --text: "Lato", sans-serif;
  --title: "Athiti", sans-serif;
  --black-arvin: #101010;
  --blue-arvin: #00132b;
  --green-arvin: #54bf08;
  --white: #fefefe;

}


body {
  overflow-x: hidden;
margin-top: 4rem;
}

* {
  padding: 0;
  margin: 0;
  font-family: var(--text);
}

div {
  animation-name: slideInLeft;
  animation-duration: 0.3s;
  animation-timing-function: ease-out;
  transition: all 0.1s ease-out;
}

h1,
h2,
h3,
h4 {
  font-family: var(--title);
  margin: 0.6rem 0;
  font-size: 1.2rem;
}

h1 {
  font-size: 1.4rem;
  font-weight: 800;
}

h2 {
  font-weight: 600;
}

h3 {
  font-weight: 400;
}

h4 {
  font-style: italic;

  font-weight: 400;
}

@keyframes slideIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.glowing {
  animation: piscar 2s infinite;
}

@keyframes piscar {
  0% {
    background-color: #54bf08;
  }

  50% {
    background-color: #fff;
  }

  100% {
    background-color: #54bf08;
  }
}

.modal {
  animation-name: slideIn;
  animation-duration: 0.2s;
  animation-timing-function: ease;
}

.maxwidth {
  max-width: 1800px;
  margin-left: auto;
  margin-right: auto;
}

body {
  background-size: cover;
  background-color: #c6ccd1;
  background-image: url("https://ik.imagekit.io/vjz75qw96/assets/assets_for_classes/bg2.png?updatedAt=1687554564387");
  background-attachment: fixed;
  background-position: center;
}


.audio-button {
  padding: 0;
  padding-left: 10px;
  background-color: white;
  color: #54bf08;
  font-size: 1rem;
  cursor: pointer;
  border: none;

}

.audio-button:hover {
  color: #49a308;
}

.audio-button:active {
  color: #49a308;
  font-size: 0.9rem;
}

.comment {
  color: var(--white);
  margin-right: 0.5rem;
}

select {
  min-height: 1.6rem;
}

li {
  list-style: inside;
}

.button {
  margin: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 1rem;
  cursor: pointer;
  border: none;
  height: 1rem;
  border-radius: 5px;
  color: var(--black-arvin);
}

.button:hover {
  font-weight: 600;
  background-color: rgb(204, 204, 204);
}

.hidden {
  display: none;
}

@keyframes slideInLeft {
  from {
    transform: translateX(-1%);
    opacity: 0.7;
  }

  to {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes notif {
  from {
    transform: translateX(100%);
  }

  to {
    transform: translateX(0%);
  }
}

@keyframes slideInOut {
  from {
    transform: translateX(0%);
  }

  to {
    transform: translateX(-100%);
  }
}

@keyframes slideUpDown {
  from {
    transform: translateY(0%);
    opacity: 0;
  }

  to {
    transform: translateY(-100%);
    opacity: 1;
  }
}

.grid-flex {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

@media (max-width: 800px) {
  .grid-flex {
    grid-template-columns: 1fr;

  }
}

input.inputs-style {
  float: right;
  width: 90%;
  padding: 10px;
  -moz-border-radius: 19px;
  -webkit-border-radius: 19px;
  border-radius: 5px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  background-color: rgb(245, 245, 245);
  border: 1px solid #898989;
  color: #000;
  font-weight: bold;
  margin: 2px auto;
}

input.inputs-style:hover {
  background-color: #c6c6c6;
  border: 1px solid #54bf08;
  color: #011042;
}

input.inputs-style:focus {
  background-color: #ffffff;
  border: 1px solid #434343;
  color: #000000;
}

textarea.inputs-style {
  float: right;
  margin: 0 auto;
  width: 90%;
  padding: 10px;
  -moz-border-radius: 19px;
  -webkit-border-radius: 19px;
  border-radius: 5px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  background-color: rgb(245, 245, 245);
  border: 1px solid #898989;
  color: #000;
  font-weight: bold;
}

textarea.inputs-style:hover {
  background-color: #c6c6c6;
  border: 1px solid #54bf08;
  color: #011042;
}

textarea.inputs-style:focus {
  background-color: #ffffff;
  border: 1px solid #434343;
  color: #000000;
}

.comments {
  border: none;
  padding: 2px 2px 2px 1rem;
  font-family: "Lato";
  color: #424364;
  font-style: italic;
  font-size: 1rem;
  width: 95%;
  margin-top: 10px;
  margin-bottom: 10px;
}

.comments:hover {
  background-color: #ddffc5;
}

.comments:focus {
  background-color: #efefef;
  border: none;

}

.do-print {
  display: none;
}

@media print {

  .do-print {
    display: block;
  }

  .no-print,
  .audio-button {
    display: none;
  }
}