@import url("https://fonts.googleapis.com/css2?family=Athiti:wght@200;300;400;500;600;700&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Archivo:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Athiti:wght@200;300;400;500;600;700&family=Electrolize&family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Gotu&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,900&family=PT+Sans+Narrow:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Archivo:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Athiti:wght@200;300;400;500;600;700&family=Electrolize&family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Gotu&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,900&family=PT+Sans+Narrow:wght@400;700&display=swap");

:root {
  --text: "Lato", sans-serif;
  --title: "Athiti", sans-serif;
  --black-arvin: #101010;
  --white: #fefefe;
}

body {
  overflow-x: hidden;
}

* {
  padding: 0;
  margin: 0;
  font-family: var(--text);
}

h1,
h2,
h3,
h4 {
  font-family: var(--title);
  margin-top: 0.6rem;
  font-weight: 500;
}

@keyframes slideIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.modal {
  animation-name: slideIn;
  animation-duration: 0.2s;
  animation-timing-function: ease;
}

.maxwidth {
  max-width: 1800px;
  margin-left: auto;
  margin-right: auto;
}

body {
  /* background-image: url("https://ik.imagekit.io/vjz75qw96/assets/assets_for_classes/ASSETS%20AND%20LIABILITIES.jpg?updatedAt=1692919364512"); */
  background-size: cover;
  background-color: gray;
  background-attachment: fixed;
  background-position: center;
}

.comment {
  color: var(--white);
  margin-right: 0.5rem;
}

select {
  min-height: 1.6rem;
}

li {
  list-style: inside;
}

.hidden {
  display: none;
}

@keyframes slideInLeft {
  from {
    transform: translateX(-1%);
    opacity: 0.7;
  }

  to {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes notif {
  from {
    transform: translateX(100%);
  }

  to {
    transform: translateX(0%);
  }
}

@keyframes slideInOut {
  from {
    transform: translateX(0%);
  }

  to {
    transform: translateX(-100%);
  }
}

@keyframes slideUpDown {
  from {
    transform: translateY(0%);
    opacity: 0;
  }

  to {
    transform: translateY(-100%);
    opacity: 1;
  }
}
